@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "@nuxt/ui";
@import "tailwindcss";

body {
  margin: 0 !important;
}

:root {
  --ck-content-font-family: "Lato";
}

.mycontainer {
  width: 100%;
  max-width: 1300px !important;
  margin: 0 auto;
  padding: 0 12px;
}

.editor-container_classic-editor .editor-container__editor {
  min-width: 795px;
  max-width: 795px;
}
